[submodule "ThirdParty/JSerializer"]
	path = ThirdParty/JSerializer
	url = https://github.com/lectorguard/JSerializer
[submodule "ThirdParty/mongo-c-driver"]
	path = ThirdParty/mongo-c-driver
	url = https://github.com/mongodb/mongo-c-driver
