[submodule "ThirdParty/JSerializer"]
	path = ThirdParty/JSerializer
	url = https://github.com/lectorguard/JSerializer
[submodule "ThirdParty/mongo-c-driver"]
	path = ThirdParty/mongo-c-driver
	url = https://github.com/mongodb/mongo-c-driver
[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "ThirdParty/zstd"]
	path = ThirdParty/zstd
	url = https://github.com/facebook/zstd.git
	ignore = dirty
